# This notebook will introduce you some of the basic functionality of the 3rd party module called *pandas*

# Import the module

In [1]:
# First things first, you need to import the module before you can use it

import pandas as pd             # This is the standard way that pandas is imported

# Series

## Series are 1-dimensional labeled arrays
## And, if you ever extract a column or row from a Dataframe, it will be returned as a Series

In [2]:
# Series can be generated using the "Series" function in pandas 
# and they can be generated from many different starting places

# Here, I'm converting a list into a Series
# Note: the labels/indexes (left column) are assigned by default in this case (0,1,2,3)
l = [112, 678, 459, 1078]
s1 = pd.Series(l)
print(s1)

0     112
1     678
2     459
3    1078
dtype: int64

In [3]:
# Here I'm generating a series with the same values, but I'm explicitly providing labels/indexes
s2 = pd.Series(l, index = ["value1", "value2", "value3", "value4"])
print(s2)

value1     112
value2     678
value3     459
value4    1078
dtype: int64

In [4]:
# And here, I'm generating the same series, but with a dictionary as a starting place
d = {"value1":112, "value2":678, "value3":459, "value4":1078}
s3 = pd.Series(d)
print(s3)

value1     112
value2     678
value3     459
value4    1078
dtype: int64

In [5]:
# We can access items from within Series in two ways

# One is to access by location, similar to list indexing and slicing
# This will work the same for all of the series we've generated
print("3rd item from series 1:", s1[2])
print("3rd item from series 2:", s2[2],)

3rd item from series 1: 459
3rd item from series 2: 459

In [6]:
# You can also create a new series that is a subset of the existing series, using slicing
s4 = s3[:2]
print("\ns4\n", s4)
s5 = s3[2:]
print("\ns5\n", s5)

s4
 value1    112
value2    678
dtype: int64

s5
 value3     459
value4    1078
dtype: int64

In [7]:
# We can also access items by their indexes/labels
print("2nd item from series 2 using position:", s1[1])
print("2nd item from series 2 using index/label:", s2["value2"])

2nd item from series 2 using position: 678
2nd item from series 2 using index/label: 678

In [8]:
# And, if your labels conform to the requirements of python variables, 
# they can also be specified using dot notation
print("2nd item from series 2 using index/label:", s2.value2)

2nd item from series 2 using index/label: 678

In [9]:
# You can also easily add new values to series
# Or modify existing values using syntax that should already be familiar

print("Prior to manipulation:\n")
print(s2)

# Adding a new value, with syntax that is the same as adding a key:value pair to a dictionary
s2["value5"] = 405

#And modifying value1
s2["value1"] = 40

print("\nAfter manipulation:\n")
print(s2)

Prior to manipulation:

value1     112
value2     678
value3     459
value4    1078
dtype: int64

After manipulation:

value1      40
value2     678
value3     459
value4    1078
value5     405
dtype: int64

In [10]:
# We can also easily manipulate all of the items in a series

# We can add numbers to our values
sAdd = s2+100
print("After addition:\n", sAdd)

# Subtract values
sSubtract = s2-73
print("\nAfter subtraction:\n", sSubtract)

# Do multiplication and division
sFloat = s2*2/1.3
print("\nAfter multiplication and division:\n", sFloat)

# You can also use series in logical expressions to generate boolean series
sBool = s2 >500
print("\nBoolean indicating which values in the original series are >500:\n", sBool)

After addition:
 value1     140
value2     778
value3     559
value4    1178
value5     505
dtype: int64

After subtraction:
 value1     -33
value2     605
value3     386
value4    1005
value5     332
dtype: int64

After multiplication and division:
 value1      61.538462
value2    1043.076923
value3     706.153846
value4    1658.461538
value5     623.076923
dtype: float64

Boolean indicating which values in the original series are >500:
 value1    False
value2     True
value3    False
value4     True
value5    False
dtype: bool

In [11]:
# We can even use these logical expressions in order to generate subset series
# only containing the values that meet a particular criteria
sUnder500 = s2[s2<500]
print(sUnder500)

value1     40
value3    459
value5    405
dtype: int64

# Assignment 1.1
## 1. Using the two lists in the next cell as a starting place, generate a series called "counts" using the names list as labels and the values list as the values. 
## 2. Generate a pandas series called "norm" by dividng the values in the "counts" series by 253,449 and then multiplying by 1,000,000.
## 3. Generate a series called 'above1000' that only contains values from 'norm' that are >1000.
## Print the length of both 'counts' and 'above1000'

In [12]:
names = ["NS30_000000", "NS30_000001", "NS30_000002", "NS30_000003", "NS30_000004", "NS30_000005", "NS30_000006", "NS30_000007", "NS30_000008", "NS30_000009", "NS30_000010", "NS30_000011", "NS30_000012", "NS30_000013", "NS30_000014", "NS30_000015", "NS30_000016", "NS30_000017", "NS30_000018", "NS30_000019", "NS30_000020", "NS30_000021", "NS30_000022", "NS30_000023", "NS30_000024", "NS30_000025", "NS30_000026", "NS30_000027", "NS30_000028", "NS30_000029", "NS30_000030", "NS30_000031", "NS30_000032", "NS30_000033", "NS30_000034", "NS30_000035", "NS30_000036", "NS30_000037", "NS30_000038", "NS30_000039", "NS30_000040", "NS30_000041", "NS30_000042", "NS30_000043", "NS30_000044", "NS30_000045", "NS30_000046", "NS30_000047", "NS30_000048", "NS30_000049", "NS30_000050", "NS30_000051", "NS30_000052", "NS30_000053", "NS30_000054", "NS30_000055", "NS30_000056", "NS30_000057", "NS30_000058", "NS30_000059", "NS30_000060", "NS30_000061", "NS30_000062", "NS30_000063", "NS30_000064", "NS30_000065", "NS30_000066", "NS30_000067", "NS30_000068", "NS30_000069", "NS30_000070", "NS30_000071", "NS30_000072", "NS30_000073", "NS30_000074", "NS30_000075", "NS30_000076", "NS30_000077", "NS30_000078", "NS30_000079", "NS30_000080", "NS30_000081", "NS30_000082", "NS30_000083", "NS30_000084", "NS30_000085", "NS30_000086", "NS30_000087", "NS30_000088", "NS30_000089", "NS30_000090", "NS30_000091", "NS30_000092", "NS30_000093", "NS30_000094", "NS30_000095", "NS30_000096", "NS30_000097", "NS30_000098", "NS30_000099", "NS30_000100", "NS30_000101", "NS30_000102", "NS30_000103", "NS30_000104", "NS30_000105", "NS30_000106", "NS30_000107", "NS30_000108", "NS30_000109", "NS30_000110", "NS30_000111", "NS30_000112", "NS30_000113", "NS30_000114", "NS30_000115", "NS30_000116", "NS30_000117", "NS30_000118", "NS30_000119", "NS30_000120"]
values = [8828, 120, 137, 3, 8, 90, 270, 213, 1449, 65, 40, 77, 539, 398, 72, 6, 15, 2199, 15, 10159, 3815, 58, 4197, 2, 2862, 15, 142, 32, 1, 19, 597, 2, 305, 15, 116, 0, 5285, 897, 127, 62, 61, 15, 219, 2, 137, 2, 3, 9, 763, 3107, 1045, 154, 1, 2961, 930, 201, 90, 10, 97, 300, 10, 25, 52, 4, 17, 327, 115, 12, 966, 24, 14, 113, 5966, 614, 1728, 186, 7, 5, 5, 58, 18, 92, 59, 86, 43, 2414, 12, 19, 3, 6028, 45, 281, 17, 17, 41, 213, 2823, 9, 462, 18, 237, 8, 120, 4, 3, 34, 124, 296, 808, 27, 28, 9, 146, 25, 1, 65, 9, 26, 46, 13, 602]

# Dataframes

## Dataframes are 2-dimensional, labeled data structures

In [14]:
# There are many ways to generate dataframes
    # However, for scientists, one of the most common approaches is to 
    # read in a data file as a dataframe for further processing/analysis
# This can be done using the read_csv function

# Here, I'm reading in the data set used as an example in lecture
# This is a tab delimited file with a header row and a column containing indexes
df = pd.read_csv("Demo/cities.tsv", sep="\t", header=0, index_col=0)

#Let's take a look inside
df.head()

           Population  Elevation  Latitude  Longitude
City
Phoenix       1633000       1086   33.4484  -112.0740
Flagstaff       74402       6909   35.1983  -111.6513
St. Louis      308174        466   38.6270   -90.1994
Tulsa          402324        722   36.1540   -95.9928

In [15]:
# You can access a whole column the same way you would access a value from a dictionary
# Note that what is returned is a Series

print("Population sizes:\n", df["Population"])
print("\nElevations:\n", df["Elevation"])
print("\nLatitudes:\n", df["Latitude"])

Population sizes:
 City
Phoenix      1633000
Flagstaff      74402
St. Louis     308174
Tulsa         402324
Name: Population, dtype: int64

Elevations:
 City
Phoenix      1086
Flagstaff    6909
St. Louis     466
Tulsa         722
Name: Elevation, dtype: int64

Latitudes:
 City
Phoenix      33.4484
Flagstaff    35.1983
St. Louis    38.6270
Tulsa        36.1540
Name: Latitude, dtype: float64

In [16]:
# You can also access the same info using dot notation

print("Population sizes:\n", df.Population)
print("\nElevations:\n", df.Elevation)
print("\nLatitudes:\n", df.Latitude)

Population sizes:
 City
Phoenix      1633000
Flagstaff      74402
St. Louis     308174
Tulsa         402324
Name: Population, dtype: int64

Elevations:
 City
Phoenix      1086
Flagstaff    6909
St. Louis     466
Tulsa         722
Name: Elevation, dtype: int64

Latitudes:
 City
Phoenix      33.4484
Flagstaff    35.1983
St. Louis    38.6270
Tulsa        36.1540
Name: Latitude, dtype: float64

In [17]:
# Similarly, we can access rows using the .loc property
# Again, this returns a Series

print("Data for Flagstaff:\n", df.loc["Flagstaff"])
print("\nData for St. Louis:\n", df.loc["St. Louis"])

Data for Flagstaff:
 Population    74402.0000
Elevation      6909.0000
Latitude         35.1983
Longitude      -111.6513
Name: Flagstaff, dtype: float64

Data for St. Louis:
 Population    308174.0000
Elevation        466.0000
Latitude          38.6270
Longitude        -90.1994
Name: St. Louis, dtype: float64

In [18]:
# And we can also access specific items using a combination of column and row names

print("Elevation for Flagstaff:\n", df["Elevation"]["Flagstaff"])
print("\nElevation for St. Louis:\n", df.loc["St. Louis"]["Elevation"])

Elevation for Flagstaff:
 6909

Elevation for St. Louis:
 466.0

In [19]:
# There are a lot of additional built-in methods for dataframes
# One that is pretty useful is the .sum() method, which can be used to generate sums across columns or rows

colSums = df.sum(axis=0)
print("Column sums:\n", colSums)
rowSums = df.sum(axis=1)
print("\nRow sums:\n", colSums)

Column sums:
 Population    2.417900e+06
Elevation     9.183000e+03
Latitude      1.434277e+02
Longitude    -4.099175e+02
dtype: float64

Row sums:
 Population    2.417900e+06
Elevation     9.183000e+03
Latitude      1.434277e+02
Longitude    -4.099175e+02
dtype: float64

In [20]:
# There is also a built-in method for generating averages
# Let's use this to convert from absolute values into deviations from the average

colAvg = df.mean(axis=0)        #Here, we generate the averages for each column
print("Column means:\n", colAvg, "\n")

df_deviation = df/colAvg        #Now, we divide each value by the average for that column
df_deviation.head()             #Values >1 are higher than average, those <1 are lower than average

Column means:
 Population    604475.000000
Elevation       2295.750000
Latitude          35.856925
Longitude       -102.479375
dtype: float64

           Population  Elevation  Latitude  Longitude
City
Phoenix      2.701518   0.473048  0.932830   1.093625
Flagstaff    0.123085   3.009474  0.981632   1.089500
St. Louis    0.509821   0.202984  1.077254   0.880171
Tulsa        0.665576   0.314494  1.008285   0.936704

In [21]:
# We can also generate a new data frame with a subset of the data rows
    # For example, by choosing only those with below average population size

lowPop = df["Population"]<colAvg["Population"]
dfLowPop = df[lowPop]
print("Cities with lower than average population sizes:\n", dfLowPop)

# or below average population size AND Elevation

lowElev = dfLowPop["Elevation"]<colAvg["Elevation"]
dfLow2 = dfLowPop[lowElev]
print("Cities with lower than average population sizes and Elevations:\n", dfLow2)

Cities with lower than average population sizes:
            Population  Elevation  Latitude  Longitude
City
Flagstaff       74402       6909   35.1983  -111.6513
St. Louis      308174        466   38.6270   -90.1994
Tulsa          402324        722   36.1540   -95.9928
Cities with lower than average population sizes and Elevations:
            Population  Elevation  Latitude  Longitude
City
St. Louis      308174        466    38.627   -90.1994
Tulsa          402324        722    36.154   -95.9928

# Assignment 1.2
## In the assignment directory for this week, you will find a file called 'pepSeqCounts.tsv'. This file contains raw count data from a highly-multiplexed serology assay, with each column (except the 1st) representing samples and each row (except the 1st) representing a different peptide antigen. 
### 1. Generate a pandas dataframe from this file, using the first row as the column names and the first column as the index names. 
### 2. Use the 'sum' method of your dataframe to generate a series that will contain the sum of the raw read counts for each sample (i.e., column sums). 
### 3. Use the series from step 2 to normalize the entire dataframe, converting from raw read counts to reads per million mapped (raw count/column sum\*1,000,000).
### 4. Print the normalized values for each of the following sample/peptide combos:
#### BB006_A, NS30_000783
#### BB010_B, NS30_000456
#### BB019_B, NS30_000076

# Assignment 1.3
## The 'pepSeqCounts.tsv' file actually contains two replicates for each sample, with these being distinguishable by their extensions: \_A and \_B. 
## Generate a new, empty pandas dataframe and add three columns to this dataframe:
### BB013
### BB404
### BB413

### Each of these columns should contain the average normalized read counts of the two appropriate replicates. 

### Use the 'head' method to print the first 5 rows of your new dataframe